.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(230, 230, 230);
  width: 300px;
  border-radius: 20px;
  border: 2px solid black;
  margin: auto;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.new {
  position: absolute;
  left: 70%;
  top: 10%;
  background-color: aquamarine;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

