.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 30px;
  position: fixed;
  top: 0;
}

.header-logo {
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header-menu__home {
}

.header-menu__about {
}

.header-menu__posts {
}

.header-menu__contact {
}
