.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navigation-image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  padding-bottom: 20px;
}
.navigation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
}
.navigation-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
}
.navigation-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
.navigation-contact {
  color: white;
  background: rgb(255, 170, 0);
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  margin-top: 20px;
}
.navigation-contact:hover {
  cursor: pointer;
  background: rgb(255, 123, 0);
}