.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featured-post {
  font-size: 24px;
  font-weight: 700;
  padding:20px 0;
  text-align: left;
}
.featured-post__items {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.featured-post__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featured-post__item-image {
  background: rgb(226, 226, 226);
  width: 300px;
  height: 200px;
}
.featured-post__item-date {
  color: rgb(188, 188, 188);
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  text-align: right;
}
.featured-post__item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.featured-post__item-content-title {
  color: black;
  font-size: 14px;
  font-weight: 600;
}
.featured-post__item-content-text {
  color: black;
  font-size: 12px;
  font-weight: 400;
}
.featured-post__item-content-tag {
  color: black;
  font-size: 12px;
  font-weight: 400;
  background: rgb(18, 207, 18);

}